{% extends "base.html" %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" >
                    <h3 class=" site-heading my-4 mt-3 text-white"> TRUST IS ESTABLISHED BY DIALOG. <br>
                        <span class="site-sub-heading">~ Paula Friere </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <form method="get" action="{% url 'home' %}">
        <input type="hidden" value="{{filter}}" id="filter-selected">
    Filter: <select class="btn dropdown" id="filter-select" name="filter">
        <option selected value="">---All---</option>
    </select>

    <p>
    </form>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body details">
                    {% if post.image %}
                        <div class="img">
                            <img class="post-image" src="../media/{{post.image}}">
                        </div>
                    {% endif %}
                    <div class="detail">
                        <h2 class="card-title">{{ post.title }}</h2>
                        {% if post.category %}
                        <div class="isa_info">
                            <i class="fa fa-list-alt"></i>
                          {{ post.category }}
                        </div>
                        {% endif %}
                        <p class="card-text text-muted h6"> <a href="{% url 'post_user_profile' pk=post.author.pk%}"> {{ post.author }} </a> | {{ post.created_on}}</p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        <p class="card-text text-muted h6">Updated on - {{ post.updated_on }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{%endblock%}