{% extends "base.html" %}
{% block content %}
<style>

</style>

<div class="container policy-container">
    <h1>Privacy Policy</h1>
    <img class="policy-image">
    <p>Dialog Diaries is governed by following privacy policy.</p>
    <p>
        We respect your privacy and are committed to protecting it.
        Our team constantly keeps working on what data is exposed to users and
        find any loopholes to prevent misuse of information posted here.
    </p>
    <p>
        The purpose of this Privacy Policy is to inform you about what and
        how much information is collected by us and how it may be used. This policy
        only applies to this blogging website.
    </p>
    <p>
        <h3>What you share voluntarily:</h3>
        We may collect personal information from you such as name and email address to use
        that in sending newsletters, a future enhancement to this website, which you can
        unsubscribe from anytime you want. In addition, when you create an account with us, we
        store your username, however the password is encrypted and is not visible to us.
    </p>
    <p>
        <h3>Automatically collected information:</h3>
        Currently, we do not track ip addresses or any device information from which the
        website was accessed. However, to enhance security of the blog, this part of
        information will be accessed in the near future.
    </p>
    <p>
        <h3>Cookies:</h3>
        Cookies and session storage are used for the sole purpose of maintaining sessions
        when you are logged in. There are some persistent cookies to store data whenever
        you exit your browser to keep you logged in until your session expires or deleted
        manually.
    </p>
    <p>
        <h3>Third-party information sharing:</h3>
        We absolutely do not share information with any third party apps or vendors.
    </p>
    <p>
        <h3>Contact when in doubt!</h3>
        Should you have any queries or information to share regarding our privacy policies
    or its misuse, you can always reach out to us at: <a href="{% url 'contact' %}">Contact Us</a>
    </p>

</div>


{%endblock%}